{% extends 'admin/base.html' %}
{% load crispy_forms_tags %}
{% block title %}All Places{% endblock title %}
{% block content %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="table-responsive">
                <h5 class="text-center mt-2 mb-2">All Attractions</h5>
                <table class="table table-sm table-striped table-hover">
                  <thead class=" thead-dark">
                    <tr>
                      <th scope="col">Name</th>  
                      <th scope="col">Location</th>  
                      <th scope="col">Update</th>
                      <th scope="col">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for park in parks %}
                      <tr>
                          <td>{{park.name}}</td>
                          <td>{{park.location}}</td>
                          <td><a class="btn btn-outline-info btn-sm" href="{% url 'edit_park' park.id %}">Update <i class="fa fa-edit"> </i></a></td>
                          <td><a class="btn btn-outline-danger btn-sm" href="{% url 'delete_park' park.id %}">Delete <i class="fa fa-trash-alt"></i></a></td>
                          
                          </tr>
                
                    {% endfor %}
                  </tbody>
                  </table>  
                </div>
                    <div class="pagination align-items-center justify-content-center">
                      <span class="step-links">
                          {% if parks.has_previous %}                                     <!--If there is a previous page-->
                              <a class="btn btn-info btn-sm" href="?page={{ parks.previous_page_number }}">&laquo;</a>  <!--Hyperlink to previous page on Click-->
                          {% endif %}
                  
                          <span class="current">
                               Page{{ parks.number }} of {{ parks.paginator.num_pages }}  <!--customers_list.number Is the current page number,customers_list.paginator.num_pages Is the total number of pages-->
                          </span>
                  
                          {% if parks.has_next %}    <!--If there is a next page-->
                              <a class="btn btn-info btn-sm" href="?page={{ parks.next_page_number }}">&raquo;</a>    <!--Hyperlink to next page when clicked-->
                          {% endif %}
                      </span>
                  </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock content %}