{% extends 'bbase.html' %}
{% load crispy_forms_tags %}
{% block title %}Blog Details{% endblock title %}
{% block content %}
<!-- DISPLAY THE DETAILS OF A SPECIFIC BLOG -->
          <div class="container-fluid gedf-wrapper mt-3">
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-6 gedf-main">
    
                    <!--- \\\\\\\Post-->
                    <div class="card gedf-card shadow-lg">
                        <div class="card-body">
                         
                          <!-- <p class="text-right text-muted h7"><i class="fa fa-clock-o"></i> {{blog.date_added|date:'Y-m-d' }}</p> -->
                            <div >
                                
                                <p class="text-uppercase ">{{blog.title}}</p>
                                <span class="blockquote-footer text-right"> <i>Posted by {{blog.author.username}}</i> </span>
                               
                               
                            </div>
                            <div>
                              <p class="card-text">{{blog.content}}</p>
                             
                              

                            <div class="card-text text-left">
                              <div>
                               
                                {% if total_likes == 0 %}
                         
                                <p class="mt-2 text-muted text-sm"><i>no likes</i> </p>
                                {% else %}
                                <p class="text-muted text-sm"><i>{{total_likes}} Like{{total_likes |pluralize}}</i></p>
                                
                                {% endif %}
                              </div>
                                <div class="btn-group">

                                  {% if request.user.is_authenticated %}
                                  <form action="{% url 'like_blog' blog.slug %}" method="post">
                                      {% csrf_token %}
                                      {% if is_liked %}
                                      <div class="form-actions">
                                     
                                      <button class="btn" name="blog_slug" value="{{blog.slug}}" type="submit">
                                        <i class="fa fa-gittip fa-2xl" aria-hidden="true" style="color: rgb(16, 151, 230); font-size: 32px;"></i></button>
                                    </div>
                                      {% else %}
                                      <div class="form-actions">
                                      <button class="btn " name="blog_slug" value="{{blog.slug}}" type="submit">
                                        <i class="fa fa-gittip " aria-hidden="true" style="color: gray; font-size: 32px;"></i></button>
                                    </div>
                                      {% endif %}
                                    </form>
                                    {% if user.is_authenticated %}
                                      {% if user.id == blog.author.id %}
                                      <div class="">
                                        <a class="text-white btn btn-primary btn-sm m-1 text-center" href="{% url 'edit_blog' blog.id %}">edit</a>
                                        <a class="text-white btn btn-danger btn-sm m-1 text-center" href="{% url 'delete_blog' blog.id %}">delete</a>
                                      </div>
                                   
                                      {% endif %}
                                    {% endif %}
                                    {% endif %}
                                </div>
                              </div>

                            </div>
                            </div>
                        </div>
                    </div>
                    <!-- Post /////-->

              </div>

    
    
    
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>


      
        </div>
        {% endblock content %}>