{% extends 'bbase.html' %}
{% load crispy_forms_tags %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<!-- DISPLAY ALL BLOGS OF A USER AND BUTTONS FOR UPDATE AND DELETE -->
    <div class="container mt-4">
        <h5 class="text-white text-uppercase text-center">Your Blogs</h5>
        <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {% if not blogs %}
            <div>
            <p class="mb-3">You dont have any blogs yet.. 
                <div>
                <a class="btn btn-lg btn-primary" href="{% url 'postblog' %}">Add one</a></p></div>
        </div>
              {% else %}  
              <div class="text-center">
                <a class="btn btn-lg btn-primary" href="{% url 'postblog' %}">Post Blog</a></p>
              </div>
            {% for blog in blogs %}
      <div class="card p-3 mt-2">
          <div class="row">
              <div class="col-md-8">
                  <div class="mt-2">
                      <div class="d-flex justify-content-between align-items-center">
                          <h5 class="mb-1 text-uppercase">{{blog.title}}</h5> 
                          
                      </div>
                      <div class="d-flex justify-content-md-start justify-content-between views-content mt-2">
                          <p class="text-white text-capitalize">{{ blog.snippet }}</p>
                      </div>
                      <!-- <div class="d-flex flex-row mt-3"> <img src="https://i.imgur.com/rvQ3LAt.jpg" width="50" class="rounded-circle"> -->
                          <div class="ms-2 d-flex flex-column">
                              <div class="d-flex flex-row align-items-center">
                                  <!-- <h6>{{blog.author.username}}</h6> -->
                              </div> <span class="days-ago">{{blog.date_added}}</span>
                          </div>
                         
                      </div>
                      <div class="mt-2">
                      <div class="d-flex flex-row">
                          <a class="btn btn-primary m-2" href="{% url 'edit_blog' blog.id %}">edit</a>
                        <a class="btn btn-danger m-2" href="{% url 'delete_blog' blog.id %}">delete</a></div>
                      
                    </div>
                     
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
  
  <div class="mt-2 mb-2">
    <nav class="d-flex justify-content-center wow fadeIn">  
      <ul class="pagination pg-blue">
        {% if blogs.has_previous %}  
          <li class="page-item ">
            <a class="page-link" href="?page={{ blogs.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
        {% endif %}
          <li class="page-item active">
            <a class="page-link" >{{ blogs.number }}
              <span class="sr-only"></span>
            </a>
          </li>
        {% if blogs.has_next %}  
          <li class="page-item">
            <a class="page-link" href="?page={{ blogs.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
  {% endif %}
  
      <div class="col-md-2"></div>
      </div>
  </div>
  


{% endblock content %}