{% extends 'adminn/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Admin{% endblock title %}
{% block content %}
<!-- THIS PAGE DISPLAYS THE COUNTS OF ALL ATTTRACTIONS AND PLACES IN THE DATABASE -->
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mt-2">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text text-center text-uppercase" style="font-size: medium; letter-spacing: 3px;">All Attractions</p>
                                    <p class="card-text text-center text-uppercase" style="font-size: medium; letter-spacing: 3px; font-weight: bold;">
                                        {{atts_count}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-2">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text text-center text-uppercase" style="font-size: medium; letter-spacing: 3px;">All Places</p>
                                    <p class="card-text text-center text-uppercase" style="font-size: medium; letter-spacing: 3px; font-weight: bold;">
                                        {{place_count}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    {% endblock content %}