<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <h6>{{att.name}}</h6>
    <p>found in :</p>
    <ul>
        {% for park in att.parks.all%}
        <li>{{park}}</li>
        {% endfor %}
    </ul>
    <h6>more images</h6>
    {% if images %}
    {% for im in images %}
					<h4>worked</h4>
        <img alt="" src="{{im.image.url}}">
    {% endfor %}
    {% endif %}
    
</body>
</html>