<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog details</title>
</head>
<body>
    <h5>{{blog.title}}</h5> 
    <h6>{{blog.author.username}}</h6>
    <p ><i>Posted on {{blog.date_added|date:'Y-m-d' }}</i></p>
    {% if total_likes == 0 %}
                         
    <p class="text-white m-2"> no likes</p>
    {% else %}
    <p class="text-white">{{total_likes}} Like{{total_likes |pluralize}}</p>
    
    {% endif %}
    {% if request.user.is_authenticated %}
    <form action="{% url 'like_blog' blog.slug %}" method="post">
        {% csrf_token %}
        {% if is_liked %}
        <div class="form-actions">
       
        <button class="btn " name="blog_slug" value="{{blog.slug}}" type="submit">
          <i class="fa fa-heart fa-2xl" aria-hidden="true" style="color: red; font-size: 32px;"></i>dislike</button>
      </div>
        {% else %}
        <div class="form-actions">
        <button class="btn " name="blog_slug" value="{{blog.slug}}" type="submit">
          <i class="fa fa-heart " aria-hidden="true" style="color: gray; font-size: 32px;"></i>like</button>
      </div>
        {% endif %}
      </form>
      {% if user.is_authenticated %}
        {% if user.id == blog.author.id %}
       
        {% endif %}
      {% endif %}
      {% endif %}
    
</body>
</html>