<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>Travel Kenya</title>
</head>
<body>
    {% if request.user.is_authenticated and not request.user.is_staff %}
            <li class="nav-item ">
              <a class="nav-link waves-effect" href="#">Hi,{{request.user.username}}
              </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link waves-effect" href="{% url 'blogs' %}">Blogs
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link waves-effect" href="">write Blogs
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link waves-effect" href="{% url 'account_logout' %}">Logout
                </a>
              </li>
          {% elif request.user.is_authenticated and request.user.is_staff %} 
            <li class="nav-item ">
              <a class="nav-link waves-effect" href="{% url 'admin' %}">Admin
              </a>
              <li class="nav-item ">
                <a class="nav-link waves-effect" href="{% url 'blogs' %}">Blogs
                </a>
            </li>
            </li> 
            <li class="nav-item ">
              <a class="nav-link waves-effect" href="{% url 'account_logout' %}">Logout
              </a>
            </li>  
          {% else %}
          <li class="nav-item ">
            <a class="nav-link waves-effect" href="{% url 'blogs' %}">Blogs
            </a>
          </li>
            <li class="nav-item ">
              <a class="nav-link waves-effect" href="{% url 'account_login' %}">Login
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link waves-effect" href="{% url 'account_signup' %}">Register
              </a>
            </li>
          {% endif %}  

    <form action="/search">
        <input name="q" type="text" placeholder="Search eg elephant" aria-label="Search" class="input" placeholder="Search here">
        <button type="submit" class="search-btn">Search</button>
    </form>
    <h4>WELCOME TO THE BEST TRAVEL GUIDE</h4>

    {% for att in attractions %}
    <a href="{% url 'attdetails' att.slug %}"><p>{{att.name}}</p></a>
        
        <img src="{{att.image.url}}" alt="{{att.name}}">

    {% endfor %}
    <h3>Parks</h3>
    {% for park in parks %}
    <a href="{% url 'parkdetails' park.slug %}"><p>{{park.name}}</p></a>
        
        <img src="{{park.image.url}}" alt="{{park.name}}" height="300" width="400">

    {% endfor %}

</body>
</html>