<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
</head>
<body>
    {% if data %}
    <p>Search results for {{request.GET.q}}</p>
    {% for att in data %}
        <h5>{{att.name}}</h5>
        <img src="{{att.image.url}}" alt="{{att.name}}">
    {% endfor %}
    {% else %}
    <p>{{request.GET.q}} not found</p>
    {% endif %}
</body>
</html>